#                                        İlk Hafta Uygulamaları

###### Görev 1:Verilen değerlerin veri yapılarını inceleyiniz

In [1]:
x = 8 
type(x)

int

In [2]:
y = 3.2
type(y)

float

In [3]:
z = 8j + 18
type(z)

complex

In [4]:
a = "Hello World"
type(a)

str

In [5]:
b = True
type(b)

bool

In [6]:
c = 23 < 24
type(c)

bool

In [7]:
l = [1,2,3,4]
type(l)

list

In [8]:
d = {"Name":"jake",
     "age":27,
     "Adress":"DownTown"}
type(d)

dict

In [9]:
t = ("Machine Learning","Data Science")
type(t)

tuple

In [10]:
s = {"Python","Machine Learninig","Data Science"}
type(s)

set

###### Görev 2:Verilen string ifadenin tüm harflerini büyük harfe çeviriniz. Virgül ve nokta yerine space koyunuz, kelime kelime ayırınız.

In [11]:
text = "The Goal is to turn data into information , and information into insight"
text.upper().replace(","," ").replace("."," ").split()

['THE',
 'GOAL',
 'IS',
 'TO',
 'TURN',
 'DATA',
 'INTO',
 'INFORMATION',
 'AND',
 'INFORMATION',
 'INTO',
 'INSIGHT']

###### Görev 3: Verilen listeye aşağıdaki adımları uygulayınız

In [12]:
lst = ["D","A","T","A","S","C","I","E","N","C","E"]

###### Adım 1: Verilen listenin eleman sayısına bakınız.
###### Adım 2: Sıfırıncı ve onuncu indeksteki elemanları çağırınız.
###### Adım 3: Verilen liste üzerinden ["D", "A", "T", "A"] listesi oluşturunuz.
###### Adım 4: Sekizinci indeksteki elemanı siliniz.
###### Adım 5: Yeni bir eleman ekleyiniz.
###### Adım 6: Sekizinci indekse "N" elemanını tekrar ekleyiniz.

In [13]:
# Adım 1
len(lst)

11

In [18]:
#Adım 2
lst[0] , lst[10]

('D', 'E')

In [21]:
#Adım 3
lst[0:4]

['D', 'A', 'T', 'A']

In [31]:
#Adım 4
lst.pop(8)
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

In [32]:
#Adım 5
lst.append("Ali Can")

In [33]:
#Adım 6
lst.insert(8,"N")
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'Ali Can']

###### Görev 4: Verilen sözlük yapısına aşağıdaki adımları uygulayınız.

In [47]:
dict = {"Chiristian":["America",18],
        "Daisy":["England",12],
        "Antonio":["Spain",22],
        "Dante":["Italy",25]}

###### Adım 1: Key değerlerine erişiniz.
###### Adım 2: Value'lara erişiniz.
###### Adım 3: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.
###### Adım 4: Key değeri Ahmet value değeri [Turkey,24] olan yeni bir değer ekleyiniz.
###### Adım 5: Antonio'yu dictionary'den siliniz

In [35]:
#Adım 1
dict.keys()

dict_keys(['Chiristian', 'Daisy', 'Antonio', 'Dante'])

In [36]:
#Adım 2
dict.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [38]:
#Adım 3
dict["Daisy"][1] = 13
dict

{'Chiristian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25]}

In [48]:
#Adım 4
dict["Ahmet"] = ["Turkey",24]
dict

{'Chiristian': ['America', 18],
 'Daisy': ['England', 12],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [49]:
#Adım 5
dict.pop("Antonio")
dict

{'Chiristian': ['America', 18],
 'Daisy': ['England', 12],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

###### Görev 5: Argüman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atayan ve bu listeleri return eden fonksiyon yazınız.

In [50]:
l = [2,13,18,93,22]

In [51]:
def Return_even_and_odd(liste):
    even = []
    odd = []
    
    for number in liste:
        if number % 2 == 0:
            even.append(number)
        else :
            odd.append(number)
    return even,odd

In [52]:
even,odd = Return_even_and_odd(l)
even,odd

([2, 18, 22], [13, 93])

###### Görev 6: Aşağıda verilen listede mühendislik ve tıp fakülterinde dereceye giren öğrencilerin isimleri bulunmaktadır. Sırasıyla ilk üç öğrenci mühendislik fakültesinin başarı sırasını temsil ederken son üç öğrenci de  tıp fakültesi öğrenci sırasına aittir. Enumarate kullanarak öğrenci derecelerini fakülte özelinde yazdırınız

In [53]:
ogrenciler = ["Ali","Veli","Ayse","Talat","Zeynep","Ece"]

In [54]:
for index,ogrenci in enumerate(ogrenciler):
    sayac = 1
    if index < 3:
        print(f"Mühendislik {index}. ogrenci : {ogrenci}")
    else:
        print(f"Tıp {sayac}. ogrenci : {ogrenci}")
        sayac += 1

Mühendislik 0. ogrenci : Ali
Mühendislik 1. ogrenci : Veli
Mühendislik 2. ogrenci : Ayse
Tıp 1. ogrenci : Talat
Tıp 1. ogrenci : Zeynep
Tıp 1. ogrenci : Ece

###### Görev 7: Aşağıda 3 adet liste verilmiştir. Listelerde sırası ile bir dersin kodu, kredisi ve kontenjan bilgileri yer almaktadır. Zip kullanarak ders bilgilerini bastırınız.

In [56]:
ders_kodu = ["CMP1005","PSY1001","HUK1005","SEN2204"]
kredi = [3,4,2,4]
kontenjan = [30,75,150,25]

In [58]:
my_list = list(zip(ders_kodu,kredi,kontenjan))
for tup in my_list:
    print(f"Kredisi {tup[1]} olan {tup[0]} kodlu dersin kontenjani {tup[2]} kişidir")

Kredisi 3 olan CMP1005 kodlu dersin kontenjani 30 kişidir
Kredisi 4 olan PSY1001 kodlu dersin kontenjani 75 kişidir
Kredisi 2 olan HUK1005 kodlu dersin kontenjani 150 kişidir
Kredisi 4 olan SEN2204 kodlu dersin kontenjani 25 kişidir

###### Görev 8: Aşağıda 2 adet set verilmiştir. Sizden istenilen eğer 1. küme 2. kümeyi kapsiyor ise ortak elemanlarını eğer kapsamıyor ise 2. kümenin 1. kümeden farkını yazdıracak fonksiyonu tanımlamanız beklenmektedir.

In [59]:
set1 = set(["data","python"])
set2 = set(["data","function","qcut","lambda","python","miuul"])

In [62]:
if set1.issuperset(set2):
     print(True)
else:
     print(False)

False

In [63]:
set2.difference(set1)

{'function', 'lambda', 'miuul', 'qcut'}

### List Comprehensions Uygulamaları

###### Görev 1: List Comprehension yapısı kullanarak car_crashes verisindeki numeric değişkenlerin isimlerini büyük harfe çeviriniz ve başına NUM ekleyiniz

In [65]:
import seaborn as sns
df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [70]:
["NUM_"+col.upper() for col in df.columns if df[col].dtype != "o"]

['NUM_TOTAL',
 'NUM_SPEEDING',
 'NUM_ALCOHOL',
 'NUM_NOT_DISTRACTED',
 'NUM_NO_PREVIOUS',
 'NUM_INS_PREMIUM',
 'NUM_INS_LOSSES',
 'NUM_ABBREV']

###### Görev 2: List Comprehension yapısı kullanarak car_crashes verisinde isminde "no" barındırmayan değişkenlerin isimlerinin sonuna "FLAG" yazınız.

In [71]:
import seaborn as sns
df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [73]:
[col.upper() +"_FLAG" if "no" not in col else col.upper() for col in df.columns]

['TOTAL_FLAG',
 'SPEEDING_FLAG',
 'ALCOHOL_FLAG',
 'NOT_DISTRACTED',
 'NO_PREVIOUS',
 'INS_PREMIUM_FLAG',
 'INS_LOSSES_FLAG',
 'ABBREV_FLAG']

###### Görev 3: List Comprehension yapısı kullanarak aşağıda verilen değişken isimlerinden FARKLI olan değişkenlerin isimlerini seçiniz ve yeni bir dataframe oluşturunuz.

In [74]:
og_list = ["abbrev","no_previous"]

In [75]:
import seaborn as sns
df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [86]:
new_cols = [col for col in df.columns if col not in og_list]

In [89]:
new_df = df[new_cols]
new_df.head()

   total  speeding  alcohol  not_distracted  ins_premium  ins_losses
0   18.8     7.332    5.640          18.048       784.55      145.08
1   18.1     7.421    4.525          16.290      1053.48      133.93
2   18.6     6.510    5.208          15.624       899.47      110.35
3   22.4     4.032    5.824          21.056       827.34      142.39
4   12.0     4.200    3.360          10.920       878.41      165.63