# Kural Tabanlı Sınıflandırma

### Görev 1: Aşağıdaki Soruları Yanıtlayını

###### Soru 1: persona.csv dosyasını okutunuz ve veri seti ile ilgili genel bilgileri gösteriniz.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("persona.csv")
df.head()

   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17

###### Soru 2: Kaç unique SOURCE vardır? Frekansları nedir?

In [3]:
df.SOURCE.value_counts()

android    2974
ios        2026
Name: SOURCE, dtype: int64

###### Soru 3: Kaç unique PRICE vardır?

In [4]:
df["PRICE"].nunique()

6

######  Soru 4: Hangi PRICE'dan kaçar tane satış gerçekleşmiş?

In [5]:
df.PRICE.value_counts()

29    1305
39    1260
49    1031
19     992
59     212
9      200
Name: PRICE, dtype: int64

######  Soru 5: Hangi ülkeden kaçar tane satış olmuş?

In [6]:
df["COUNTRY"].value_counts()

usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: COUNTRY, dtype: int64

###### Soru 6: Ülkelere göre satışlardan toplam ne kadar kazanılmış?

In [7]:
df.groupby("COUNTRY")["PRICE"].sum()

COUNTRY
bra    51354
can     7730
deu    15485
fra    10177
tur    15689
usa    70225
Name: PRICE, dtype: int64

###### Soru 7: SOURCE türlerine göre satış sayıları nedir?

In [8]:
df.groupby("SOURCE").agg({"PRICE":"count"})

         PRICE
SOURCE
android   2974
ios       2026

###### Soru 8: Ülkelere göre PRICE ortalamaları nedir?

In [9]:
df.groupby("COUNTRY").agg({"PRICE":"mean"})

             PRICE
COUNTRY
bra      34.327540
can      33.608696
deu      34.032967
fra      33.587459
tur      34.787140
usa      34.007264

###### Soru 9: SOURCE'lara göre PRICE ortalamaları nedir?

In [10]:
df.groupby("SOURCE").agg({"PRICE":"mean"})

             PRICE
SOURCE
android  34.174849
ios      34.069102

###### Soru 10: COUNTRY-SOURCE kırılımında PRICE ortalamaları nedir?

In [11]:
df.groupby(["COUNTRY","SOURCE"]).agg({"PRICE":"mean"})

                     PRICE
COUNTRY SOURCE
bra     android  34.387029
        ios      34.222222
can     android  33.330709
        ios      33.951456
deu     android  33.869888
        ios      34.268817
fra     android  34.312500
        ios      32.776224
tur     android  36.229437
        ios      33.272727
usa     android  33.760357
        ios      34.371703

### Görev 2: COUNTRY, SOURCE, SEX, AGE kırılımında ortalama kazançlar nedir

In [12]:
df.groupby(["COUNTRY","SOURCE","SEX","AGE"]).agg({"PRICE":"mean"})

                                PRICE
COUNTRY SOURCE  SEX    AGE
bra     android female 15   38.714286
                       16   35.944444
                       17   35.666667
                       18   32.255814
                       19   35.206897
...                               ...
usa     ios     male   42   30.250000
                       50   39.000000
                       53   34.000000
                       55   29.000000
                       59   46.500000

[348 rows x 1 columns]

### Görev 3: Çıktıyı PRICE’a göre sıralayınız.
###### • Önceki sorudaki çıktıyı daha iyi görebilmek için sort_values metodunu azalan olacak şekilde PRICE’a göre uygulayınız
###### • Çıktıyı agg_df olarak kaydediniz.

In [13]:
agg_df = df.groupby(["COUNTRY","SOURCE","SEX","AGE"]).agg({"PRICE":"mean"}).sort_values(by="PRICE",ascending=False)
agg_df.head()

                            PRICE
COUNTRY SOURCE  SEX    AGE
bra     android male   46    59.0
usa     android male   36    59.0
fra     android female 24    59.0
usa     ios     male   32    54.0
deu     android female 36    49.0

### Görev 4: Indekste yer alan isimleri değişken ismine çeviriniz.
###### • Üçüncü sorunun çıktısında yer alan PRICE dışındaki tüm değişkenler index isimleridir. Bu isimleri değişken isimlerine çeviriniz.

In [14]:
agg_df.reset_index(inplace=True)
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE
0     bra  android    male   46   59.0
1     usa  android    male   36   59.0
2     fra  android  female   24   59.0
3     usa      ios    male   32   54.0
4     deu  android  female   36   49.0

### Görev 5: Age değişkenini kategorik değişkene çeviriniz ve agg_df’e ekleyiniz.
###### • Age sayısal değişkenini kategorik değişkene çeviriniz.
###### • Aralıkları ikna edici şekilde oluşturunuz.
###### • Örneğin: ‘0_18', ‘19_23', '24_30', '31_40', '41_70

In [15]:
agg_df.AGE.dtype

dtype('int64')

In [16]:
agg_df.AGE = agg_df.AGE.astype("category")
agg_df.AGE.dtype

CategoricalDtype(categories=[15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29,
                  30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44,
                  45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 61, 65,
                  66],
, ordered=False)

In [17]:
agg_df["AGE_CAT"] = pd.cut(agg_df["AGE"],bins=[0,18,23,30,40,70],labels=["0_18","19_23","24_30","31_40","41_70"])
agg_df.head()

  COUNTRY   SOURCE     SEX AGE  PRICE AGE_CAT
0     bra  android    male  46   59.0   41_70
1     usa  android    male  36   59.0   31_40
2     fra  android  female  24   59.0   24_30
3     usa      ios    male  32   54.0   31_40
4     deu  android  female  36   49.0   31_40

### Görev 6: Yeni seviye tabanlı müşterileri (persona) tanımlayınız.
###### • Yeni seviye tabanlı müşterileri (persona) tanımlayınız ve veri setine değişken olarak ekleyiniz.
###### • Yeni eklenecek değişkenin adı: customers_level_based
###### • Önceki soruda elde edeceğiniz çıktıdaki gözlemleri bir araya getirerek customers_level_based değişkenini oluşturmanız gerekmektedir

In [18]:
customer_level_based = [agg_df["COUNTRY"][i].upper() + "_" + agg_df["SOURCE"][i].upper() + "_"+ agg_df["SEX"][i].upper() + "_" + agg_df["AGE_CAT"][i].upper() for i in range(len(agg_df))]
customer_level_based

['BRA_ANDROID_MALE_41_70',
 'USA_ANDROID_MALE_31_40',
 'FRA_ANDROID_FEMALE_24_30',
 'USA_IOS_MALE_31_40',
 'DEU_ANDROID_FEMALE_31_40',
 'DEU_ANDROID_FEMALE_41_70',
 'DEU_IOS_MALE_19_23',
 'USA_ANDROID_FEMALE_41_70',
 'FRA_IOS_MALE_19_23',
 'USA_IOS_MALE_41_70',
 'DEU_ANDROID_MALE_0_18',
 'BRA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_FEMALE_41_70',
 'TUR_IOS_MALE_24_30',
 'DEU_ANDROID_MALE_31_40',
 'TUR_IOS_FEMALE_0_18',
 'BRA_ANDROID_FEMALE_41_70',
 'BRA_IOS_FEMALE_19_23',
 'TUR_ANDROID_FEMALE_31_40',
 'BRA_ANDROID_FEMALE_31_40',
 'TUR_IOS_MALE_31_40',
 'TUR_ANDROID_MALE_0_18',
 'USA_IOS_MALE_24_30',
 'BRA_IOS_MALE_41_70',
 'DEU_ANDROID_MALE_19_23',
 'USA_IOS_MALE_24_30',
 'TUR_ANDROID_FEMALE_0_18',
 'USA_ANDROID_MALE_41_70',
 'TUR_ANDROID_MALE_24_30',
 'USA_IOS_FEMALE_41_70',
 'FRA_ANDROID_MALE_19_23',
 'USA_IOS_MALE_31_40',
 'TUR_ANDROID_FEMALE_0_18',
 'FRA_IOS_MALE_0_18',
 'TUR_IOS_FEMALE_19_23',
 'TUR_ANDROID_FEMALE_31_40',
 'TUR_ANDROID_MALE_24_30',
 'FRA_ANDROID_MALE_19_23',
 'BRA_ANDROID_MALE_24_30',
 'CAN_ANDROID_MALE_24_30',
 'CAN_ANDROID_MALE_19_23',
 'USA_ANDROID_MALE_41_70',
 'TUR_ANDROID_MALE_24_30',
 'BRA_ANDROID_MALE_31_40',
 'BRA_ANDROID_MALE_0_18',
 'USA_IOS_FEMALE_19_23',
 'TUR_ANDROID_MALE_41_70',
 'BRA_IOS_FEMALE_19_23',
 'USA_IOS_MALE_41_70',
 'BRA_IOS_FEMALE_24_30',
 'DEU_ANDROID_FEMALE_31_40',
 'DEU_IOS_MALE_0_18',
 'FRA_ANDROID_FEMALE_19_23',
 'FRA_ANDROID_MALE_31_40',
 'TUR_IOS_FEMALE_31_40',
 'FRA_IOS_MALE_41_70',
 'BRA_ANDROID_FEMALE_31_40',
 'TUR_IOS_MALE_0_18',
 'BRA_IOS_FEMALE_41_70',
 'TUR_ANDROID_MALE_0_18',
 'TUR_ANDROID_FEMALE_41_70',
 'BRA_ANDROID_FEMALE_0_18',
 'USA_IOS_MALE_19_23',
 'USA_IOS_FEMALE_0_18',
 'FRA_IOS_MALE_31_40',
 'TUR_ANDROID_MALE_0_18',
 'DEU_ANDROID_MALE_31_40',
 'USA_IOS_FEMALE_24_30',
 'DEU_IOS_FEMALE_0_18',
 'CAN_IOS_MALE_0_18',
 'CAN_ANDROID_MALE_41_70',
 'BRA_ANDROID_FEMALE_24_30',
 'TUR_ANDROID_FEMALE_24_30',
 'CAN_IOS_MALE_0_18',
 'BRA_IOS_MALE_31_40',
 'FRA_ANDROID_FEMALE_0_18',
 'DEU_IOS_FEMALE_0_18',
 'CAN_ANDROID_FEMALE_0_18',
 'TUR_IOS_FEMALE_19_23',
 'DEU_ANDROID_MALE_19_23',
 'BRA_ANDROID_FEMALE_19_23',
 'USA_ANDROID_FEMALE_31_40',
 'BRA_IOS_MALE_19_23',
 'BRA_ANDROID_MALE_0_18',
 'BRA_ANDROID_MALE_24_30',
 'USA_ANDROID_MALE_24_30',
 'TUR_ANDROID_FEMALE_19_23',
 'DEU_IOS_MALE_41_70',
 'BRA_ANDROID_FEMALE_41_70',
 'BRA_IOS_MALE_0_18',
 'USA_IOS_FEMALE_24_30',
 'BRA_IOS_FEMALE_0_18',
 'BRA_IOS_MALE_31_40',
 'FRA_ANDROID_FEMALE_0_18',
 'USA_ANDROID_MALE_19_23',
 'BRA_IOS_FEMALE_0_18',
 'BRA_ANDROID_MALE_41_70',
 'BRA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_MALE_24_30',
 'TUR_ANDROID_FEMALE_41_70',
 'USA_IOS_FEMALE_24_30',
 'DEU_IOS_FEMALE_24_30',
 'CAN_ANDROID_MALE_0_18',
 'BRA_ANDROID_FEMALE_0_18',
 'TUR_ANDROID_MALE_24_30',
 'USA_ANDROID_MALE_41_70',
 'USA_IOS_FEMALE_19_23',
 'USA_ANDROID_FEMALE_19_23',
 'FRA_IOS_MALE_19_23',
 'FRA_ANDROID_MALE_41_70',
 'BRA_ANDROID_MALE_41_70',
 'TUR_ANDROID_MALE_19_23',
 'BRA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_FEMALE_31_40',
 'USA_IOS_FEMALE_24_30',
 'BRA_ANDROID_FEMALE_0_18',
 'TUR_IOS_FEMALE_19_23',
 'DEU_IOS_FEMALE_0_18',
 'USA_ANDROID_MALE_41_70',
 'BRA_ANDROID_MALE_19_23',
 'DEU_ANDROID_MALE_31_40',
 'BRA_IOS_FEMALE_31_40',
 'BRA_IOS_FEMALE_41_70',
 'BRA_ANDROID_MALE_24_30',
 'DEU_ANDROID_FEMALE_24_30',
 'BRA_IOS_MALE_0_18',
 'BRA_ANDROID_MALE_19_23',
 'USA_ANDROID_FEMALE_41_70',
 'BRA_ANDROID_MALE_19_23',
 'BRA_ANDROID_FEMALE_19_23',
 'USA_ANDROID_MALE_0_18',
 'BRA_IOS_FEMALE_31_40',
 'USA_IOS_MALE_24_30',
 'BRA_ANDROID_FEMALE_31_40',
 'USA_IOS_FEMALE_19_23',
 'USA_ANDROID_FEMALE_31_40',
 'FRA_IOS_MALE_19_23',
 'DEU_ANDROID_FEMALE_19_23',
 'CAN_IOS_MALE_0_18',
 'DEU_IOS_MALE_0_18',
 'USA_IOS_FEMALE_41_70',
 'DEU_IOS_MALE_24_30',
 'BRA_ANDROID_FEMALE_19_23',
 'USA_ANDROID_FEMALE_0_18',
 'BRA_IOS_MALE_19_23',
 'USA_ANDROID_MALE_19_23',
 'TUR_IOS_MALE_0_18',
 'USA_ANDROID_FEMALE_24_30',
 'USA_IOS_MALE_0_18',
 'BRA_IOS_MALE_31_40',
 'USA_ANDROID_MALE_19_23',
 'USA_ANDROID_MALE_31_40',
 'USA_ANDROID_MALE_31_40',
 'USA_IOS_FEMALE_41_70',
 'USA_ANDROID_MALE_0_18',
 'FRA_ANDROID_FEMALE_0_18',
 'USA_ANDROID_FEMALE_0_18',
 'USA_IOS_MALE_0_18',
 'BRA_ANDROID_FEMALE_31_40',
 'USA_IOS_FEMALE_31_40',
 'TUR_ANDROID_FEMALE_0_18',
 'DEU_ANDROID_FEMALE_24_30',
 'USA_ANDROID_MALE_0_18',
 'USA_ANDROID_MALE_24_30',
 'BRA_IOS_FEMALE_24_30',
 'USA_ANDROID_FEMALE_19_23',
 'BRA_IOS_FEMALE_41_70',
 'DEU_ANDROID_FEMALE_19_23',
 'USA_IOS_MALE_24_30',
 'FRA_IOS_MALE_24_30',
 'BRA_IOS_FEMALE_24_30',
 'CAN_ANDROID_FEMALE_41_70',
 'USA_IOS_FEMALE_19_23',
 'USA_IOS_MALE_19_23',
 'BRA_IOS_MALE_19_23',
 'TUR_IOS_FEMALE_19_23',
 'TUR_IOS_FEMALE_24_30',
 'TUR_IOS_FEMALE_24_30',
 'DEU_IOS_FEMALE_19_23',
 'TUR_IOS_FEMALE_41_70',
 'DEU_ANDROID_MALE_19_23',
 'BRA_IOS_FEMALE_24_30',
 'USA_ANDROID_MALE_0_18',
 'USA_IOS_MALE_41_70',
 'USA_ANDROID_FEMALE_41_70',
 'FRA_ANDROID_FEMALE_31_40',
 'USA_ANDROID_MALE_24_30',
 'USA_ANDROID_FEMALE_24_30',
 'DEU_IOS_FEMALE_19_23',
 'BRA_IOS_MALE_24_30',
 'USA_IOS_FEMALE_0_18',
 'USA_ANDROID_FEMALE_19_23',
 'BRA_IOS_MALE_0_18',
 'DEU_ANDROID_FEMALE_0_18',
 'BRA_ANDROID_FEMALE_31_40',
 'USA_IOS_MALE_0_18',
 'CAN_IOS_FEMALE_0_18',
 'TUR_ANDROID_FEMALE_0_18',
 'BRA_IOS_FEMALE_0_18',
 'FRA_IOS_FEMALE_0_18',
 'BRA_ANDROID_FEMALE_41_70',
 'BRA_IOS_MALE_41_70',
 'USA_ANDROID_MALE_24_30',
 'BRA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_FEMALE_19_23',
 'BRA_ANDROID_MALE_0_18',
 'BRA_IOS_FEMALE_41_70',
 'USA_ANDROID_MALE_41_70',
 'FRA_IOS_FEMALE_31_40',
 'FRA_ANDROID_MALE_24_30',
 'DEU_IOS_FEMALE_31_40',
 'USA_IOS_FEMALE_0_18',
 'DEU_ANDROID_MALE_0_18',
 'USA_IOS_MALE_0_18',
 'BRA_IOS_FEMALE_19_23',
 'TUR_IOS_MALE_0_18',
 'USA_ANDROID_MALE_19_23',
 'USA_IOS_FEMALE_19_23',
 'USA_IOS_FEMALE_24_30',
 'BRA_IOS_MALE_0_18',
 'USA_ANDROID_FEMALE_0_18',
 'FRA_IOS_FEMALE_31_40',
 'BRA_IOS_FEMALE_0_18',
 'TUR_IOS_FEMALE_19_23',
 'BRA_ANDROID_MALE_24_30',
 'FRA_IOS_FEMALE_0_18',
 'CAN_ANDROID_FEMALE_19_23',
 'USA_ANDROID_FEMALE_0_18',
 'DEU_ANDROID_MALE_0_18',
 'USA_ANDROID_MALE_19_23',
 'DEU_ANDROID_FEMALE_31_40',
 'USA_ANDROID_FEMALE_41_70',
 'FRA_ANDROID_MALE_31_40',
 'DEU_ANDROID_FEMALE_24_30',
 'FRA_ANDROID_MALE_41_70',
 'BRA_IOS_FEMALE_24_30',
 'DEU_ANDROID_MALE_31_40',
 'TUR_ANDROID_FEMALE_19_23',
 'TUR_ANDROID_FEMALE_41_70',
 'BRA_ANDROID_FEMALE_41_70',
 'BRA_IOS_FEMALE_31_40',
 'BRA_ANDROID_FEMALE_0_18',
 'USA_IOS_MALE_19_23',
 'FRA_ANDROID_FEMALE_19_23',
 'DEU_ANDROID_FEMALE_24_30',
 'DEU_ANDROID_FEMALE_0_18',
 'BRA_ANDROID_FEMALE_19_23',
 'USA_IOS_MALE_24_30',
 'BRA_ANDROID_MALE_31_40',
 'FRA_ANDROID_FEMALE_24_30',
 'USA_IOS_MALE_31_40',
 'CAN_IOS_FEMALE_24_30',
 'CAN_ANDROID_FEMALE_19_23',
 'USA_IOS_FEMALE_24_30',
 'BRA_ANDROID_MALE_31_40',
 'USA_IOS_FEMALE_0_18',
 'DEU_ANDROID_FEMALE_41_70',
 'DEU_IOS_MALE_31_40',
 'USA_ANDROID_FEMALE_19_23',
 'DEU_ANDROID_MALE_19_23',
 'CAN_IOS_MALE_24_30',
 'TUR_IOS_MALE_41_70',
 'CAN_IOS_MALE_41_70',
 'BRA_ANDROID_MALE_19_23',
 'DEU_ANDROID_FEMALE_19_23',
 'BRA_IOS_MALE_19_23',
 'BRA_ANDROID_FEMALE_19_23',
 'TUR_ANDROID_FEMALE_19_23',
 'DEU_IOS_MALE_24_30',
 'USA_IOS_FEMALE_31_40',
 'USA_ANDROID_FEMALE_24_30',
 'DEU_IOS_FEMALE_0_18',
 'FRA_IOS_MALE_0_18',
 'BRA_ANDROID_MALE_24_30',
 'BRA_IOS_FEMALE_24_30',
 'BRA_IOS_MALE_41_70',
 'FRA_IOS_FEMALE_24_30',
 'USA_IOS_FEMALE_41_70',
 'USA_IOS_MALE_31_40',
 'USA_IOS_MALE_41_70',
 'FRA_ANDROID_MALE_0_18',
 'TUR_IOS_FEMALE_0_18',
 'BRA_IOS_MALE_41_70',
 'USA_ANDROID_FEMALE_24_30',
 'CAN_ANDROID_MALE_24_30',
 'BRA_IOS_FEMALE_19_23',
 'BRA_ANDROID_MALE_24_30',
 'CAN_ANDROID_FEMALE_0_18',
 'BRA_ANDROID_MALE_0_18',
 'USA_IOS_FEMALE_31_40',
 'FRA_IOS_MALE_0_18',
 'FRA_IOS_MALE_24_30',
 'BRA_ANDROID_MALE_41_70',
 'FRA_IOS_MALE_31_40',
 'CAN_IOS_MALE_31_40',
 'USA_IOS_FEMALE_41_70',
 'CAN_IOS_FEMALE_0_18',
 'DEU_IOS_MALE_19_23',
 'DEU_IOS_FEMALE_24_30',
 'DEU_ANDROID_MALE_31_40',
 'DEU_ANDROID_MALE_24_30',
 'DEU_ANDROID_FEMALE_31_40',
 'USA_IOS_MALE_41_70',
 'TUR_ANDROID_FEMALE_41_70',
 'BRA_IOS_MALE_31_40',
 'USA_ANDROID_MALE_31_40',
 'USA_ANDROID_MALE_41_70',
 'USA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_MALE_31_40',
 'USA_ANDROID_MALE_31_40',
 'BRA_IOS_MALE_31_40',
 'USA_ANDROID_FEMALE_24_30',
 'TUR_ANDROID_MALE_31_40',
 'TUR_IOS_FEMALE_0_18',
 'BRA_ANDROID_MALE_24_30',
 'USA_ANDROID_FEMALE_31_40',
 'USA_ANDROID_FEMALE_31_40',
 'DEU_ANDROID_FEMALE_41_70',
 'FRA_IOS_FEMALE_0_18',
 'BRA_IOS_FEMALE_31_40',
 'TUR_IOS_MALE_19_23',
 'FRA_ANDROID_FEMALE_19_23',
 'DEU_ANDROID_FEMALE_0_18',
 'BRA_ANDROID_FEMALE_24_30',
 'USA_ANDROID_MALE_24_30',
 'CAN_ANDROID_FEMALE_0_18',
 'TUR_IOS_FEMALE_31_40',
 'FRA_ANDROID_MALE_19_23',
 'USA_ANDROID_MALE_41_70',
 'FRA_IOS_FEMALE_24_30',
 'BRA_ANDROID_FEMALE_31_40',
 'TUR_ANDROID_FEMALE_24_30',
 'USA_IOS_MALE_31_40',
 'USA_IOS_MALE_24_30',
 'BRA_ANDROID_FEMALE_24_30',
 'TUR_IOS_MALE_19_23',
 'USA_ANDROID_MALE_24_30',
 'BRA_IOS_MALE_31_40',
 'BRA_ANDROID_MALE_19_23',
 'TUR_ANDROID_MALE_19_23',
 'TUR_IOS_MALE_41_70',
 'BRA_IOS_FEMALE_31_40',
 'BRA_IOS_MALE_41_70',
 'USA_IOS_FEMALE_31_40',
 'USA_IOS_FEMALE_24_30',
 'CAN_ANDROID_FEMALE_24_30',
 'FRA_ANDROID_MALE_0_18',
 'DEU_ANDROID_MALE_24_30']

In [19]:
agg_df["customer_level_based"] = customer_level_based

In [20]:
agg_df = agg_df.groupby("customer_level_based").agg({"PRICE":"mean"})

In [26]:
agg_df.reset_index(inplace=True)

In [28]:
agg_df.head()

       customer_level_based      PRICE
0   BRA_ANDROID_FEMALE_0_18  35.645303
1  BRA_ANDROID_FEMALE_19_23  34.077340
2  BRA_ANDROID_FEMALE_24_30  33.863946
3  BRA_ANDROID_FEMALE_31_40  34.898326
4  BRA_ANDROID_FEMALE_41_70  36.737179

### Görev 7: Yeni müşterileri (personaları) segmentlere ayırınız.
###### • Yeni müşterileri (Örnek: USA_ANDROID_MALE_0_18) PRICE’a göre 4 segmente ayırınız.
###### • Segmentleri SEGMENT isimlendirmesi ile değişken olarak agg_df’e ekleyiniz.
###### • Segmentleri betimleyiniz (Segmentlere göre group by yapıp price mean, max, sum’larını alınız).

In [29]:
agg_df["SEGMENT"] = pd.qcut(agg_df["PRICE"],4,labels=["D","C","B","A"])
agg_df.head()

       customer_level_based      PRICE SEGMENT
0   BRA_ANDROID_FEMALE_0_18  35.645303       B
1  BRA_ANDROID_FEMALE_19_23  34.077340       C
2  BRA_ANDROID_FEMALE_24_30  33.863946       C
3  BRA_ANDROID_FEMALE_31_40  34.898326       B
4  BRA_ANDROID_FEMALE_41_70  36.737179       A

In [30]:
agg_df.groupby("SEGMENT").agg({"PRICE":["mean","max","sum"]})

             PRICE
              mean        max          sum
SEGMENT
D        29.206780  32.333333   817.789833
C        33.509674  34.077340   904.761209
B        34.999645  36.000000   944.990411
A        38.691234  45.428571  1044.663328

### Görev 8: Yeni gelen müşterileri sınıflandırıp, ne kadar gelir getirebileceklerini tahmin ediniz.
###### • 33 yaşında ANDROID kullanan bir Türk kadını hangi segmente aittir ve ortalama ne kadar gelir kazandırması beklenir?
###### • 35 yaşında IOS kullanan bir Fransız kadını hangi segmente aittir ve ortalama ne kadar gelir kazandırması beklenir?

In [31]:
new_user = "TUR_ANDROID_FEMALE_31_40"

In [32]:
agg_df[agg_df["customer_level_based"] == new_user]

        customer_level_based      PRICE SEGMENT
72  TUR_ANDROID_FEMALE_31_40  41.833333       A

In [33]:
new_user2 = "FRA_IOS_FEMALE_31_40"

In [34]:
agg_df[agg_df["customer_level_based"] == new_user2]

    customer_level_based      PRICE SEGMENT
63  FRA_IOS_FEMALE_31_40  32.818182       C